<!DOCTYPE html>
<html>
<head>
  <title>MoviesCrudApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Your view content is placed here -->
<!-- yield to the content created in the view -->
<%= yield %>

<footer>
  <p>Created by BEWD 06 class</p>
</footer>

</body>
</html>
